<!DOCTYPE html>
<html>
  <head>
    <title>Test Your Math</title>
       <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/pulse/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="../app.css">
  </head>
  <header class = "text-center">
       <h1>Test Your Math</h1>
   </header>
   </body>
      <div class ="container">
      #parse( $template )
      </div>
    </body>
</html>